<div class="row">
		<div class="col-md-6 col-md-offset-3">
	<div class="panel panel-headline">

<div class="panel-heading">
<h4>Nuevo Proveedor</h4>
<hr>
</div>

<div class="panel-body">
<%= render 'form' , provider: @provider %>
</div>

</div>
</div>
</div>