<div id="Oslo" class="w3-container city" style="display:none">
  <h3>Tugsten y Pago</h3>
  <hr>

  <p>
  <strong>Fecha por cobrar: <a href="#" id="51"> <span class="grande fa fa-pencil"></span></a></strong> <br>
  <%= @service.fecha_por_cobrar %>
	<%= best_in_place @service, :fecha_por_cobrar,  :activator => "#51" , :place_holder => "Fecha por cobrar"%>
</p>

<p>
  <strong>Pagado: <a href="#" id="52"> <span class="grande fa fa-pencil"></span></a></strong> <br>
  <%= best_in_place @service, :pagado, as: :checkbox , collection: {false: "Nope", true: "Yep"},  :activator => "#52"%>
</p>
</div>