<div id="Madrid" class="w3-container city" style="display:none">
<h3>Facturación</h3>
<hr>

<p>
  <strong>Numero de factura: <a href="#" id="41"> <span class="grande fa fa-pencil"></span></a></strong> <br>
  <%= best_in_place @service, :numero_de_factura,  :activator => "#41"  , :place_holder => "Número de factura"%>
</p>

<p>
  <strong>Kilos finales: <a href="#" id="42"> <span class="grande fa fa-pencil"></span></a></strong> <br>
  <%= best_in_place @service, :kilos_finales,  :activator => "#42"%>
</p>

<p>
  <strong>Total por facturar: <a href="#" id="43"> <span class="grande fa fa-pencil"></span></a></strong> <br>
  <%= best_in_place @service, :total_por_facturar,  :activator => "#43"%>
</p>

<p>
  <strong>Fecha de facturacion: <a href="#" id="44"> <span class="grande fa fa-pencil"></span></a></strong> <br>
  <%= best_in_place @service, :fecha_de_facturacion,  :activator => "#44" , :place_holder => "Fecha de facturación"%>
</p>
</div>