<div id="Tokyo" class="w3-container city" style="display:none">
<h3>GR</h3>
<hr>

<p>
  <strong>Gr: <a href="#" id="31"> <span class="grande fa fa-pencil"></span></a></strong>
  <br>
  <%= best_in_place @service, :gr,  :activator => "#31"  , :place_holder => "Número de GR"%>
</p>
</div>