<div class="row" id="quantity">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h4>Remision</h4>
        <hr>
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>
</div>