<div class="row">
		<div class="col-md-6 col-md-offset-3">
	<div class="panel panel-headline">

<div class="panel-heading">
<h3>Nueva Remisión</h3>
<hr>
</div>

<div class="panel-body">
<%= render 'form' , service: @service %>
</div>

</div>
</div>
</div>