<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h4>Encontrar remision</h4>
        <hr>
      </div>
      <div class="panel-body">
        <%= form_with(url: "/quantity", method: "get") do %>
          <%= label_tag(:id, "Remision ID:") %>
          <%= text_field_tag :id, nil, {required: true} %>
          <%= submit_tag("Elige") %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="quantity"></div>
