<div class="row">
		<div class="col-md-6 col-md-offset-3">
	<div class="panel panel-headline">

<div class="panel-heading">
	<h1>Nuevo Pago a Fletera</h1>
</div>

<div class="panel-body">
<%= render 'form' , charter_payment: @charter_payment %>
</div>

</div>
</div>
</div>
