/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require fullcalendar
 * require owl.carousel
 * require owl.theme
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import "reset";


$primary: #657FBE;
$secondary: #223A6D;
$light_grey: #F5F5F5;



body {
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
}


.button {
  transition: background-color .15s linear;
  font-size: 13px;
  min-width: 200px;
  padding: 9px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  height: 40px;
  cursor: pointer;
  margin-top: 25px;
  background-color: transparent;
}

.button_primary {
  color: white;
  background-color: $primary;
  font-size: 14px;
  border-color: $primary;
  text-transform: uppercase;
  &:hover {
    color: $primary;
    background-color: white;
    border: solid 1.2px $primary;
  }

  &:hover > a {
  color: white;
  text-decoration: none;
  background-color: $primary;
  }
}

.button_block {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-top: 2rem;
  font-weight: 700;
}

.button_center {
  display: block;
  margin: 0 auto !important;
  margin-top: 2rem;
  text-align: center;
}

/*navbar*/

#navin {
	.navbar {
	background-color: white !important;
	border-color: white !important;
	padding: 15px 5%;
}
}

.navbar-nav > li > a {
    /*font-family: 'Montserrat', sans-serif;*/
    font-size: 14px;
    border-bottom: solid 1.5px white;
    background-color: none;
    color: $primary !important;
}

.activo {
  border-bottom: solid 1.5px $primary;
  background-color: white !important;
}

/*end navbar*/


/*styles*/

.center {
	text-align: center;
}

.white {
	color: white
}

.navbar {
	margin: 0px;
}

 #content {
  width: 100%;
  overflow: hidden;
}

/*end styles*/


/*hero*/

.hero {
    background:
    linear-gradient(to right, rgba(75, 123, 211, 0.5), rgba(22, 215, 177, 0.3)),    url(asset-path("cover2.png"));
    width: 100%;
    height: 70vh;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
		padding: 50px 40px;
  h1 {
  	margin-top: 15%;
  	font-size: 35px;
  }
}


/*forms*/

#formario {
  margin: 2rem 0;
  background-color: white;
  box-shadow: 0 2px 2px 0 $primary, 0 3px 1px -2px$primary, 0 1px 5px 0 $primary;
  padding: 3rem 3rem 0;
      border-radius: 0px;
      border: solid 1px #e2e8ea;
      -webkit-box-shadow: 6px 6px 2px rgba(46,133,155,0.04);
      box-shadow: 6px 6px 2px rgba(46,133,155,0.04);

h2 {

}

input[type="date"],input[type="name"], input[type="email"], input[type="textbox"], input[type="number"], input[type="tel"], input[type="text"], input[type="password"], textarea {
  width: 100%;
  height: 3.5rem;
  border:none;
  border:1.3px solid #dadada;
  margin-bottom: 1.5rem;
  background-color: white !important;
  }

select {
  height: 3.5rem;
  border:none;
  border:1.3px solid #dadada;
  margin-bottom: 1.5rem;
  background-color: white !important;
  }

  textarea {
    height: 20rem !important;
  }
  label {
  margin-top: 1rem;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  color: #555;
}
}










/*Media*/

@media (max-width: 800px)
{

.hero {
background-attachment: unset;
}
}